@font-face {
    font-family: "keepCalm";
    src: url(/tipografias/KeepCalm-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Baron Neue";
    src: url(/tipografias/Baron\ Neue\ Bold.otf) format("opentype");
}