@font-face {
    font-family: "keepCalm";
    src: url(/tipografias/KeepCalm-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Baron Neue";
    src: url(/tipografias/Baron\ Neue\ Bold.otf) format("opentype");
}

* {
    box-sizing: border-box;
}

.body {
    background-color:  #222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

body, div, ul, nav, header, footer, a, li, label {
    margin: 0;
    padding: 0;
}

p {
    color: white;
    font-size: 25px;
    font-family: keepCalm;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 4rem;
    font-size: 4rem;
    letter-spacing: 0;
    line-height: 1.1;
    font-family: Baron Neue;
    color: rgba(255, 206, 6, 1);
}

h2 {
    font-family: Baron Neue;
    color: white;
 font-size: 50px;
}

/*section navbar MObile*/

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 206, 6, 1);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.header__open-nav-button {
    font-size: 24px;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
    display: inline-block;
    z-index: 2;
}

.header__checkbox {
    display: none;
}



.nav__logo {
    z-index: 3;
    color: white;
    font-size: 25px;
    font-family: Baron Neue;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 0 black; 
    margin-left: auto; 
    margin-right: auto;
}

.nav {
    position: fixed;
    top: 0; 
    right: 0;
    width: 100%;
    height: 57%;
    background-color:rgba(255, 206, 6, 1);
    display: none;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    z-index: 1;
    padding: 90px;
    margin: auto;
}


.header__nav--list {
    padding: 0;
    margin-top: 0;
    text-align: center;
}

.header__nav--list li {
    margin: 20px ;
}
  
.nav__item, .nav__item--button {
    font-family: keepCalm;
    color: #fff;
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 0 black;
    font-size: 18px;
}
  
.header__checkbox:checked ~ .nav {
    display: flex;
}
  
/* Estilos del botón de "Log in" */
.nav__item--button {
    border: 1px solid #000;
    border-radius: 7px;   
    background-color:rgba(254, 239, 180, 1);
    font-family: KeepCalm;
    transition: font-size 0.5s ease, color 0.5s ease;
    padding: 7px;
    border-radius: 5px;
}

.nav__item--button:hover {
    border: 2px solid #000;
    background-color: rgba(254, 239, 180, 1);
    padding: 4px 11px;
    font-size: 21px;
    color: rgb(248, 248, 248);
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 0 black; 
}

/* Estilos para pantalla grande */
@media (min-width: 1092px) {

    .header__container {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        padding: 0px 20px;
        height: auto;
        align-items: center;
    }

    .logo__container{
        display: flex;
        align-items: center;
    }

    
    .nav__logo {
        z-index: 3;
        color: white;
        font-size: 25px;
        font-family: Baron Neue;
        -webkit-text-stroke: 1px black;
        text-shadow: 2px 2px 0 black; 
        flex-shrink: 0;
    }
  
    .header__open-nav-button {
      display: none;
    }
  
    .nav {
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0px 20px;
      margin-bottom: 30px;
    }
  
    .header__nav--list {
      display: flex;
      justify-content: center;
      align-items: center;

    }
  
    .header__nav--list li {
        margin: 0px 20px;
        white-space: nowrap;
    }
}

/*fin de section*/

/*footer section*/

.footer__content {
    background-color: rgba(255, 206, 6, 1);
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.content--wrapper {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.p-footer1 {
    color: #000000;
    margin-left: 30px;
    
}

.p-footer2 {
    color: #000000;
}


.contact {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.contact__links {
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.links--item{
    margin-left: 20px;
    font-family: keepCalm;
    padding: 2px;
}

/*fin de footer*/
