main {
    margin-top: 5rem;
}

.hero__flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin: auto;
    width: 78vw;
    min-height: 400px;
    border: 1px solid rgba(255, 206, 6, 1);
}

.text__container {
    font-size: 56px;
    font-family: Baron Neue;
    margin-top: 30px;
    border: 1px solid rgba(255, 206, 6, 1);
}

h1 + p {
    color: rgb(255, 255, 255);
    margin-top: 40px;
    font-size: 30px;
    min-height: 250px;
    text-wrap: pretty;
    min-height: 200px;
    border: 1px solid rgba(255, 206, 6, 1);

}

.logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px; /* Tamaño de la imagen */
    margin-left: 50px;
    transition: transform 0.5s ease;
    border: 1px solid rgba(255, 206, 6, 1);
}

.logo:hover {
    transform: rotate(360deg); 
}

.cta__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-presupuesto {
    padding: 6px;
    background-color: #000000;
    color: rgba(255, 206, 6, 1);
    text-align: center;
    text-decoration: none;
    border:1px solid rgba(255, 206, 6, 1);
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button-presupuesto:hover {
   background-color: rgba(255, 206, 6, 1);
   color: #000000;
}

/*feature section*/

.grid-container {
    display: grid;
   
    
}

.foto-feature {
    width: 150px;
}


/*fin del feature section*/

/*aside section*/

.imagen-aside {
    width: 150px;
}

.imagen-debit {
    width: 300px;
}

/*final del aside section*/