
/*HERO SECTION MOBILE*/

@media  (min-width: 250px) {
   
    main {
        margin-top: 5rem ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .hero__flexbox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .indexh1{
        font-size: 2rem;
        letter-spacing: 0;
        line-height: 1.1;
        font-family: Baron Neue;
        color: rgba(255, 206, 6, 1);
    }

    h1 + p {
        margin-top: 40px;
        font-size: 20px;
        letter-spacing: .01em;
        line-height: 1.35;
        text-wrap: pretty; 
    }

    .cta__container2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-presupuesto2 {
        font-family: keepCalm;
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        padding: 8px;
        background-color: rgba(31, 31, 31, 1);
        color: rgba(255, 206, 6, 1);
        text-align: center;
        border:1px solid rgba(255, 206, 6, 1);
        border-radius: 10px;
        font-size: 10px;
        transition: background-color 0.3s ease;
        width: 160px;
    }

    .button-presupuesto {
        display: none;
    }

    .logo__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .logo {
        width: 200px;
    }


}

/*TABLETS Y ESCRITORIOS*/

@media  (min-width: 850px) {
    main {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .hero__flexbox {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: auto;
        max-width: 100vw;
        min-height: 200px;
        gap: 30px;
    }
    
    .text__container {

        font-family: Baron Neue;  
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    h1 + p {

        margin-top: 20px;
        font-size: 25px;
        letter-spacing: .01em;
        line-height: 1.35;
        text-wrap: pretty; 
        text-align: justify;
    }

    .indexh1 {
        text-align: justify;
        font-size: 3rem;
    }
    
    .cta__container {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-top: 5px;
    }
      
    .button-presupuesto {
        display: block;
        padding: 10px;
        padding-bottom: 12px;
        background-color: rgba(31, 31, 31, 1);
        color: rgba(255, 206, 6, 1);
        text-align: center;
        text-decoration: none;
        border:1px solid rgba(255, 206, 6, 1);
        border-radius: 10px;
        font-size: 10px;
        transition: background-color 0.8s ease;
    }
    
    .button-presupuesto:hover {
        background-color: rgba(255, 206, 6, 1);
        color: #000000;
    }
    
    .button-presupuesto2 {
        display: none;
    }
    
    
    .button-presupuesto2:active {
        background-color: rgba(255, 206, 6, 1);
        color: #000000;
    }
    
    .logo__container {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .logo {
        max-width: 300px; 
        margin:auto;
        transition: transform 0.5s ease;
        border-radius: 50%;    
    }
    
    .logo:hover {
        transform: rotate(360deg); 
    }
       
}

 

/* FEATURE SECTION  ESTILO GLOBAL */

.gallery__img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-presupuesto--grid { 
    font-family: keepCalm;
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: rgba(31, 31, 31, 1);
    color: rgba(255, 206, 6, 1);
    text-align: center;
    text-decoration: none;
    border:1px solid rgba(255, 206, 6, 1);
    border-radius: 10px;
    font-size: 10px;
    transition: background-color 0.3s ease;
    width: 160px;
}

.button-presupuesto--grid:hover {
    background-color: rgba(255, 206, 6, 1);
    color: #000000;
}

.feature{
    margin: auto;  
    width: 90vw; 
}

.title__feature{
    text-align: center;
    font-size: 2rem;
}

.gallery__container {
    margin-top: 80px;
}

/*MOBILE*/

@media screen and (min-width: 250px) and (max-width: 977px) {
    .gallery__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .gallery__img {
        max-width: 50vw;
        height: auto;
        object-fit: cover;
    }
}




/* Para tablets en adelante */

@media  (min-width: 978px) {
    .gallery__container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
        gap: 8px;
    }

    .gallery--item:first-child { /*titulo*/
        grid-column: span 9 / span 9;
    }
    .gallery--item:nth-child(2){ /*playa*/
        grid-column: span 3 / span 3;
        grid-row: span 7 / span 7;
        grid-row-start: 2;
    }
    .gallery--item:nth-child(3) { /*cenital*/
        grid-column: span 3 / span 3;
        grid-row: span 3 / span 3;
        grid-column-start: 4;
        grid-row-start: 2;
    }
    
    .gallery--item:nth-child(4) { /*kindle*/
        grid-column: span 3 / span 3;
        grid-row: span 4 / span 4;
        grid-column-start: 4;
        grid-row-start: 5;
    }
    
    .gallery--item:nth-child(5) { /*habitacion*/
        grid-column: span 3 / span 3;
        grid-row: span 7 / span 7;
        grid-column-start: 7;
        grid-row-start: 2;
    }
    
    .gallery--item:last-child { /*cta*/
        grid-column: span 3 / span 3;
        grid-row-start: 9;
    }
}

/*fin del feature section*/


/*ASIDE SECTION*/

@media  (min-width: 250px) and (max-width: 977px) {
    
    .imagen-aside {
        max-width: 150px;
        object-fit: cover;
        height: auto;
    }

    .imagen-debit {
        max-width: 250px;
        object-fit: cover;
        height: auto;
    }

    .title__aside{
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 30px
    }

    .p__aside--1, .p__aside--2, .p__aside--3, .p__aside--4 {
        font-size: 20px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(9, 1fr);
        gap: 30px;
    }

    .container-item:first-child {
        grid-column: span 6 / span 6;
    }
    .container-item:nth-child(2){
        grid-column: span 2 / span 2;
        grid-row: span 4 / span 4;
        grid-column-start: 2;
        grid-row-start: 2
    }
    .container-item:nth-child(3){
        grid-column: span 2 / span 2;
        grid-row: span 4 / span 4;
        grid-column-start: 4;
        grid-row-start: 2;
    }

    .container-item:nth-child(4){
        grid-column: span 2 / span 2;
        grid-row: span 4 / span 4;
        grid-column-start: 2;
        grid-row-start: 6;
    }

    .container-item:last-child{
        grid-column: span 2 / span 2;
        grid-row: span 4 / span 4;
        grid-column-start: 4;
        grid-row-start: 6;
    }
    
}


/*final del aside section*/