main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hero__flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    min-width: 100vw;
    min-height: 200px;
    gap: 30px;
    
}

.text__container {
    font-family: Baron Neue;
    margin-top: 30px;
   
}



h1 + p {
    margin-top: 40px;
    font-size: 2rem;
    letter-spacing: .01em;
    line-height: 1.35;
    text-wrap: pretty;
    
}

.cta__container {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 5px;
}



.button-presupuesto {
    padding: 6px;
    background-color: #000000;
    color: rgba(255, 206, 6, 1);
    text-align: center;
    text-decoration: none;
    border:1px solid rgba(255, 206, 6, 1);
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button-presupuesto:hover {
    background-color: rgba(255, 206, 6, 1);
    color: #000000;
}

.button-presupuesto2 {
    display: none;
}


.button-presupuesto2:active {
    background-color: rgba(255, 206, 6, 1);
    color: #000000;
}

.logo__container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    max-width: 300px; 
    margin-left: 50px;
    transition: transform 0.5s ease;
    border-radius: 50%;
    
    
}

.logo:hover {
    transform: rotate(360deg); 
}

@media screen and (max-width:978px) {
    .hero__flexbox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .button-presupuesto2 {
        font-family: keepCalm;
        display: flex;
        justify-content: center;
        padding: 8px;
        background-color: #000000;
        color: rgba(255, 206, 6, 1);
        text-align: center;
        text-decoration: none;
        border:1px solid rgba(255, 206, 6, 1);
        border-radius: 10px;
        font-size: 10px;
        transition: background-color 0.3s ease;
        width: 160PX;
        margin-right: 28px;
    }

    .button-presupuesto {
        display: none;
    }

    .logo {
        margin-right: 50px;
        border: solid 1px red;
        display: flex;
        align-self: center;
    }
}
    




/*feature section*/

.feature__grid {
    margin-top: 70px;
}

.title__feature{
  text-align: center;
}
.grid-container {
    padding: 20px;
    
}

.foto-feature {
    width: 150px;
}


/*fin del feature section*/

/*aside section*/

.imagen-aside {
    width: 150px;
}

.imagen-debit {
    width: 300px;
}

/*final del aside section*/