#main__section {
    display: flex;
    box-sizing: border-box;
    height: 80vh;
    margin-top: 100px;
}
.sidebar {
    width: 200px;
    height: 80vh;
    background-color: #ac4848;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar button {
    width: 60%;
    margin: 8px;
    display: inline-block;
    padding: 10px 20px;
    background-color: whitesmoke;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border-left: solid rgba(255, 206, 6, 1);
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: rgba(255, 206, 6, 1);
    color: #000000;
}

.cantidad--texto{
    text-align: center;
    color: rgba(255, 206, 6, 1);
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 0 black; 
    margin-bottom: 1px
    
}

#cantidad-de-copias-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

#decremento {
    margin-right: 1px;
    
}

#cantidad-valor {
    display: inline-block;
    padding: 10px 20px;
    height: 41px;
    background-color: whitesmoke;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border-left: solid rgba(255, 206, 6, 1);
    border-radius: 10px;
    font-size: 16px;
    font-family: KeepCalm;
}

#incremento {
    margin-left: 1px
}


.switch-holder {
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, .7),
          10px 10px 10px rgba(0, 0, 0, .2),
          inset 8px 8px 15px rgba(255, 255, 255, .7),
          inset 10px 10px 10px rgba(0, 0, 0, .2);
    justify-content: space-between;
    align-items: center;
}
  
.switch-label {
    padding: 0 20px 0 10px
}
  
.switch-text {
    font-family: KeepCalm;
    font-size: 16px;
    color: rgba(255, 206, 6, 1);
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 0 black; 
}
  
.switch-toggle {
    height: 40px;
}
  
.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}
  
.switch-toggle input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -8px -8px 15px rgba(255, 255, 255, .6),
          inset 10px 10px 10px rgba(124, 129, 158, 0.25);
}
  
.switch-toggle input[type="checkbox"]+label::before {
    position: absolute;
    content: 'NO';
    font-family: KeepCalm;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background-color: #eeeeee;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
          3px 3px 5px rgba(0, 0, 0, .25);
    transition: .3s ease-in-out;
}
  
.switch-toggle input[type="checkbox"]:checked+label::before {
    left: 50%;
    content: 'SI';
    color: rgba(0, 0, 0,);
    background-color: rgba(255, 206, 6, 1);
    box-shadow: -3px -3px 5px rgba(254, 239, 180, 1),
          3px 3px 5px rg;
}








.upload-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 206, 6, 1);
    box-shadow: 0px 0px 10px rgba(255, 206, 6, 1);
    margin: 20px;
    position: relative;
    max-width: 90%;
    border-radius: 7px;

}



.btn-archivos {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: rgba(255, 206, 6, 1);
    text-align: center;
    text-decoration: none;
    border:1px solid rgba(255, 206, 6, 1);
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-archivos:hover {
    background-color: rgba(255, 206, 6, 1);
   color: #000000;
}

.price__preview {
    padding: 10px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-precios {
    font-size: 15px;
}

.pagar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: rgba(255, 206, 6, 1);
    text-align: center;
    text-decoration: none;
    border:1px solid rgba(255, 206, 6, 1);
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pagar:hover {
    background-color: rgba(255, 206, 6, 1);
   color: #000000;
}

  