.container-stats{
width:100%;
}

.stats{
  display: flex;
  justify-content:space-between;
  gap:20px;
  background:#ffce;
  padding: 10px;
}

.kanban-board{
  width: 100%;
  border: 2px solid #ffce06;
  display:flex;
  justify-content: space-between;
  gap:5px;
  padding:10px;
}


