@media (max-width: 375px) {
  .title__container {
      max-width: 600px;
      margin: auto;
      margin-top: 5rem;
  }
  
  .title {
      color:  rgba(255, 206, 6, 1);
      font-size: 1.5rem;
  }
  
  .subtitle {
      font-size: 1rem;
      line-height: 1.5;
  }
  
  .btn-whatsapp {
      display: inline-block;
      padding: 5px 10px;
      background-color: #1e1e1e;
      color: rgba(255, 206, 6, 1);
      text-align: center;
      text-decoration: none;
      border:1px solid rgba(255, 206, 6, 1);
      border-radius: 10px;
      font-size: 0.8rem;
      transition: background-color 0.3s ease;
  }
  
  .btn-whatsapp:hover {
      background-color: rgba(255, 206, 6, 1);
      color: #000000;
  }
  
  .list__title {
      color: rgba(255, 206, 6, 1);
      text-align: center;
      font-size: 0.8rem;
  }
  
  .cards-container {
      border-radius: 7px;
      max-width: 300px;  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 100px;
      box-sizing: border-box;
      margin: auto;
  }
  
  .card {
      background-color:  rgba(254, 239, 180, 1);
      border-radius: 7px;
      width: 250px;
  }
  
  .card--title {
      color: #000;
      background-color: rgba(255, 206, 6, 1);
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      width: 100%; 
      padding: 8px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;
      box-sizing: border-box;
      margin: auto;
      border-bottom: solid 2px #000;
      font-family:Baron Neue;
  }
  
  .card--body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      background-color:  rgba(254, 239, 180, 1);
      border-radius: 7px; 
      width: 150px;
      text-align: center;
      margin: 15px;
      overflow: hidden;
  }
  
  ul {
      color: #000000;
      font-family: KeepCalm;
      text-align: left;
      font-size: 14px;
  }
  
  .parrafo-final-envios {
      font-size: 14px;
      color: #000000;
      text-align: center;
  
  }
}

.title__container {
    max-width: 600px;
    margin: auto;
    margin-top: 5rem;
}

.title {
    color:  rgba(255, 206, 6, 1);
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1rem;
    line-height: 1.5;
}

.btn-whatsapp {
    display: inline-block;
    padding: 5px 10px;
    background-color: #1e1e1e;
    color: rgba(255, 206, 6, 1);
    text-align: center;
    text-decoration: none;
    border:1px solid rgba(255, 206, 6, 1);
    border-radius: 10px;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
}

.btn-whatsapp:hover {
    background-color: rgba(255, 206, 6, 1);
    color: #000000;
}

.list__title {
    color: rgba(255, 206, 6, 1);
    text-align: center;
    font-size: 0.8rem;
}

.cards-container {
    border-radius: 7px;
    max-width: 600px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    margin: auto;
}

.card {
    background-color:  rgba(254, 239, 180, 1);
    color: #000;
    background-color:  rgba(254, 239, 180, 1);
    border-radius: 7px;
}

.card--title {
    color: #000;
    background-color: rgba(255, 206, 6, 1);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%; 
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    margin: auto;
    border-bottom: solid 2px #000;
}
.special-title {
    font-size: 12px;
    font-weight:bold;
    color: #000;
}

.card--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:  rgba(254, 239, 180, 1);
    border-radius: 7px; 
    width: 150px;
    text-align: center;
    margin: 15px;
    overflow: hidden;
}

ul {
    color: #000000;
    font-family: KeepCalm;
    text-align: left;
    font-size: 14px;
}

.parrafo-final-envios {
    font-size: 14px;
    color: #000000;
    text-align: center;

}

@media (min-width: 1024px) {

 .title__container {
     max-width: 600px;
     margin: auto;
     margin-top: 5rem;
 }

 .title {
     color:  rgba(255, 206, 6, 1);
     font-size: 3rem;
     text-align:center;
 }

 .subtitle {
  width: 100%;
  font-size: 1.5rem;
 }
 
 .btn-whatsapp {
   display: inline-block;
   padding: 8px 15px;
   background-color: none;
   color: rgba(255, 206, 6, 1);
   text-align: center;
   text-decoration: none;
   border:1px solid rgba(255, 206, 6, 1);
   border-radius: 10px;
   font-size: 0.8rem;
   font-family: KeepCalm;
   transition: background-color 0.3s ease;
 }
 
 .btn-whatsapp:hover {
     background-color: rgba(255, 206, 6, 1);
     color: #000000;
 }
 
 .list__title { 
     color: rgba(255, 206, 6, 1);
     text-align: center;
     font-size: 1rem;
     font-family:KeepCalm;
 }

 .cards-container {
     border-radius: 7px;
     max-width: 600px;  
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 25px;
     box-sizing: border-box;
     margin: auto;
 }
 
 .card {
     text-align: center;
     color: #000000;
     background-color:  rgba(254, 239, 180, 1);
     border-radius: 7px;
 }
 
 .card--title {
     border-top: 7px;
     max-width: 600px;  
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 5px;
     box-sizing: border-box;
     margin: auto;
     border-bottom:solid 2px #000;
     font-family: Baron Neue;
 }

 .special-title {
     font-size: 12px;
     font-weight:bold;
     color: #000;
 }
 
 .card--body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 7px; 
     width: 150px;
     overflow: hidden;
     text-align: center;
     margin: 15px;
 }
 
 ul {
     color: #000000;
     text-align:left;
     padding-bottom: 20px;
 }
 
 .parrafo-final-envios {
     font-size: 15px;
     color: #000000;
     text-align: center;
 }
}
