:root {
  font-family: KeepCalm, Baron Neue;
  line-height: 1.5;
  font-weight: 400;
  background-color: #1e1e1e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

@font-face {
    font-family: "keepCalm";
    src: url(../assets/tipografias/KeepCalm-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Baron Neue";
    src: url(../assets/tipografias/Baron Neue Bold.otf) format("opentype");
}

* {
    box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}

div, ul, a, li, label {
    margin: 0;
    padding: 0;

}

p {
    color: #e1e1e1;
    font-size: 25px;
    font-family: keepCalm;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 4rem;
    font-size: 4rem;
    letter-spacing: 0;
    line-height: 1.1;
    font-family: Baron Neue;
    color: rgba(255, 206, 6, 1);
}

h2 {
    font-family: Baron Neue;
    color: #e1e1e1;
    font-size: 2em;
}

h4 {
    font-size: 16px;
}


