<footer class="footer__content ">
  <div class="content--wrapper">
      <!-- Logo -->
    <div class="footer__logo--container">
      <img src="/assets/Logo de la copiadora.png" alt="Logo de La Copiadora" class="logo-footer">
    </div>

      <!-- Dirección del negocio -->
    <div class="title__footer--container">
      <h3 class="title__footer">Dirección:</h3>
      <p class="p__footer"> 44 e/ 4 y 5 n496 - La Plata</p>
    </div>

      <!-- Contacto -->
    <div class="title__footer--container">
      <h3 class="title__footer">Contacto:</h3>
      <ul class="contact__links">
        <li class="links--item"><a href="https://wa.me/message/EOKHJIUZOJSKF1">WhatsApp </a></li>
        <li class="links--item"><a href="https://instagram.com/lacopiadora44" target="_blank">Instagram</a></li>
        <li class="links--item"><a href="https://facebook.com/lacopiadora44" target="_blank">Facebook</a></li>
        <li class="links--item"><a href="https://lacopiadora44@gmail.com" target="_blank">Email</a></li>
      </ul>
    </div>
  </div>
</footer>
