  <header class="header__container">
    
    
    <div class="logo__container--nav">
      <a class="nav__logo" href="index.html">La Copiadora</a> <!-- Logo -->
    </div>
    
    <input type="checkbox" class="header__checkbox" id="open-menu">
    <label for="open-menu" class="header__open-nav-button" role="button">☰</label>

    <nav class="nav" aria-label="Main Navigation">

      <div class="header__nav">
        <ul class="header__nav--list">
          <li><a class="nav__item" href="laCopiadoraStore.html" target="_blank">Store</a></li>
          <li><a class="nav__item" href="envios.html">Envíos</a></li>
          <li><a class="nav__item" href="pricing.html">Precios</a></li>
          <li><a class="nav__item" href="pedidos.html">Pedidos</a></li>
          <li><a class="nav__item" href="linksutiles.html">Links Útiles</a></li>
          <li><a class="nav__item" href="Register.html">Registrarme</a></li>
          <li><a class="nav__item nav__item--button" href="login.html">Log-in</a></li>
          <li id="usuario-navbar" class="nav__item usuario-navbar oculto" style="position: relative;">
            <span id="nombre-usuario">👤</span>
            <ul id="dropdown-menu" class="dropdown-menu oculto">
              <li><a href="#" id="logout-link">Cerrar sesión</a></li>
            </ul>
          </li>

        </ul>
      </div>
      
    </nav>
    
  </header>
