/*Mobile*/

#main__section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 70vh;
    margin-top: 3rem;

   
}

.upload-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
    
    border-radius: 7px;
    box-shadow: -1px -1px 5px rgba(255, 206, 6, 1),
    10px 10px 10px rgba(0, 0, 0, .2),
    inset 1px 2px 5px rgba(255, 206, 6, 1),
    inset 5px 2px 2px rgba(0, 0, 0, .2);


}

.btn-archivos {
    position: absolute; /* Lo coloca encima de .upload-area */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

/*.btn-archivos {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: rgba(255, 206, 6, 1);
    text-align: center;
    text-decoration: none;
    border:1px solid rgba(255, 206, 6, 1);
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;

    width: 100%;
    height: 70vh;
}*/

.btn-archivos:hover {
    background-color: rgba(255, 206, 6, 1);
   color: #000000;
}



.cantidades-container{
    width: 350px;
    display: flex;
    flex-flow: wrap;
    padding: 20px 15px;
    border-radius: 7px;
    box-shadow: 
          10px 10px 10px rgba(0, 0, 0, .2),
          inset 1px 2px 5px rgba(255, 206, 6, 1),
          inset 5px 2px 2px rgba(0, 0, 0, .2);
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.cantidad--texto{
    font-size: 1em;
    text-align: center;
    color: rgba(255, 206, 6, 1);
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 5px;
}

.cantidad__wrapper {
    display: flex;
    gap: 3px;
}

/*.switch-holder {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 
          10px 10px 10px rgba(0, 0, 0, .2),
          inset 1px 2px 5px rgba(255, 206, 6, 1),
          inset 5px 2px 2px rgba(0, 0, 0, .2);
    justify-content: space-between;
    align-items: center;
    width: 40%;
}*/
  
.switch-label {
    padding: 0 30px 0 10px
}
  
.switch-text {
    font-family: KeepCalm;
    font-size: 1em;
    color: rgba(255, 206, 6, 1);
}
  
.switch-toggle {
    height: 40px;
}
  
.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}
  
.switch-toggle input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 7px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -1px -1px 5px rgba(255, 206, 6, 7),
                inset 2px 2px 5px rgba(254, 239, 180, 7);
}
  
.switch-toggle input[type="checkbox"]+label::before {
    position: absolute;
    content: 'NO';
    font-family: KeepCalm;
    color: rgba(255, 206, 6, 1);
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 0 black;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 7px;
    background-color: #eeeeee;
    box-shadow: -3px -3px 5px rgba(254, 239, 180, 1),
          3px 3px 5px rgba(0, 0, 0, .25);
    transition: .5s ease-in-out;
}
  
.switch-toggle input[type="checkbox"]:checked+label::before {
    left: 50%;
    content: 'SI';
    color: rgba(0, 0, 0,);
    background-color: rgba(255, 206, 6, 1);
    box-shadow: -1px -1px 1px rgb(0, 0, 0),
          2px 2px 5px rgba(255, 206, 6, 1);
}

#nota {
    border-radius: 7px;
    box-shadow: 
      10px 10px 10px rgba(0, 0, 0, .2),
      inset 1px 2px 3px rgba(255, 206, 6, 1),
      inset 5px 2px 2px rgba(0, 0, 0, .2);
    background-color: #000;
    margin: 5px;
    color: rgb(248, 248, 246);
    font-family: KeepCalm;
    width: 100%;
}

@media screen and (min-width: 977px){

    .upload-area {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        position: relative;
        
        border-radius: 7px;
        box-shadow: -1px -1px 5px rgba(255, 206, 6, 1),
        10px 10px 10px rgba(0, 0, 0, .2),
        inset 1px 2px 5px rgba(255, 206, 6, 1),
        inset 5px 2px 2px rgba(0, 0, 0, .2);
    
    
    }

    .btn-archivos {
        position: absolute; /* Lo coloca encima de .upload-area */
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        border-radius: 7px;
       
    
    }

    #preferencias {
        width: 96.5%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 10px 15px;
        border-radius: 7px;
        box-shadow: -1px 1px 5px rgba(255, 206, 6, 1),
        10px 10px 10px rgba(0, 0, 0, .2),
        inset 1px 2px 5px rgba(255, 206, 6, 1),
        inset 5px 2px 2px rgba(0, 0, 0, .2);
        margin: auto;
    }
    
    
   /* .switch-holder {
        display: flex;  
        flex-direction: row;
        justify-content: center;
        padding: 10px 15px;
        border-radius: 7px;
        box-shadow: 
              10px 10px 10px rgba(0, 0, 0, .2),
              inset 1px 2px 5px rgba(255, 206, 6, 1),
              inset 5px 2px 2px rgba(0, 0, 0, .2);
        width: 40%;
    }*/
      
    .switch-label {
        padding: 0 30px 0 10px
    }
      
    .switch-text {
        font-family: KeepCalm;
        font-size: 1em;
        color: rgba(255, 206, 6, 1);
    }
      
    .switch-toggle {
        height: 40px;
    }
      
    .switch-toggle input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -2;
    }
      
    .switch-toggle input[type="checkbox"]+label {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 40px;
        border-radius: 7px;
        margin: 0;
        cursor: pointer;
        box-shadow: inset -1px -1px 5px rgba(255, 206, 6, 7),
                    inset 2px 2px 5px rgba(254, 239, 180, 7);
    }
      
    .switch-toggle input[type="checkbox"]+label::before {
        position: absolute;
        content: 'NO';
        font-family: KeepCalm;
        color: rgba(255, 206, 6, 1);
        -webkit-text-stroke: 1px black;
        text-shadow: 1px 1px 0 black;
        font-size: 13px;
        text-align: center;
        line-height: 30px;
        top: 8px;
        left: 8px;
        width: 45px;
        height: 25px;
        border-radius: 7px;
        background-color: #eeeeee;
        box-shadow: -3px -3px 5px rgba(254, 239, 180, 1),
              3px 3px 5px rgba(0, 0, 0, .25);
        transition: .5s ease-in-out;
    }
      
    .switch-toggle input[type="checkbox"]:checked+label::before {
        left: 50%;
        content: 'SI';
        color: rgba(0, 0, 0,);
        background-color: rgba(255, 206, 6, 1);
        box-shadow: -1px -1px 1px rgb(0, 0, 0),
              2px 2px 5px rgba(255, 206, 6, 1);
    }

    .cantidades-container{
        width: 350px;
        height: 90px ;
        display: flex;
        flex-flow: wrap;
        padding: 20px 15px;
        border-radius: 7px;
        box-shadow: 
              10px 10px 10px rgba(0, 0, 0, .2),
              inset 1px 2px 5px rgba(255, 206, 6, 1),
              inset 5px 2px 2px rgba(0, 0, 0, .2);
        justify-content: center;
        align-items: center;
        margin: 5px;
    }

    #cantidad {
        background-color: #eeeeee;
        font-family: KeepCalm;
        color: rgba(255, 206, 6, 1);
        -webkit-text-stroke: 1px black;
        text-shadow: 1px 1px 0 black;
        font-size: 16px;

       
    }

    .notas-container {
        width: 300px;
        height: 90px;
        border-radius: 7px;
    }

    #nota {
        border-radius: 7px;
        box-shadow: 
          10px 10px 10px rgba(0, 0, 0, .2),
          inset 1px 2px 3px rgba(255, 206, 6, 1),
          inset 5px 2px 2px rgba(0, 0, 0, .2);
        background-color: transparent;
        color:#f0e8e8;
        font-family: KeepCalm;
        font-size: 11px;
        width:90%;
        height: 90%; 
        box-sizing: border-box; 
        resize: none; /* Evita que el usuario lo redimensione */
        vertical-align: middle; /* Asegura alineación con otros elementos */
        padding: 5px;
        flex-grow: 1;
    }
}

/*PREVISUALIZACIÓN DE PRECIOS*/
#price__preview--section {
    margin-top: 50px;
    background-color: #000;

}

.preview--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#precio-final, #descuento, #subtotal {
    font-size: 15px;
    padding: 10px;
}


#pagar-pedido {
    display: inline-block;
    padding: 0 20px;
    color: rgba(255, 206, 6, 1);
    box-shadow: 
          10px 10px 1px rgba(0, 0, 0, .2),
          inset 1px 1px 3px rgba(255, 206, 6, 1),
          inset 2px 2px 2px rgba(255, 255, 255, 0.2);
        border-radius: 7px;
    background-color: #000;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
    height: 50px;
}

#pagar-pedido:hover {
    background-color: rgba(255, 206, 6, 1);
    color: #000000;
}

