.footer {
 background: #000;
 padding: 2rem 5%;
 text-align: center;
 border-top: 1px solid rgba(255, 208, 0, 0.1);
}

.socialLinks {
 display: flex;
 justify-content: center;
 gap: 2rem;
 margin-top: 1rem;
}

.socialLinks a {
 color: #FFD000;
 font-size: 1.5rem;
 transition: all 0.3s;
}

.socialLinks a:hover {
 transform: translateY(-3px);
 color: #FFA500;
}

.paragraph{
 font-size:0.9rem;
 color: #666;
}
