@media  (min-width: 320px) {
  .footer-container { 
    background:none;
    max-width: 100%;
    display: flex;
    justify-content:center; 
    margin:0;
    padding:0;
  }

  .contact-container{
    width:150px;
    padding:9px;
    display: flex;
    justify-content:center;
    gap:10px;
    background: linear-gradient(to bottom, #B19005 40%, #E5C53F 60%, #ffce06 100%);
  }

  .social-media{
    width: 25px;
    height: 25px;
    padding:5px;
    transition: none !important;
    transform: none !important;
  }

}

/*footer section tablet y desktop*/

@media  (min-width: 978px) {

  .footer-container {
    background-color:none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin:0;
  }

  .contact-container {
    width: 250px;
    padding: 10px 10px 7px 7px;
    gap:20px;
    margin:auto;
  }

  .social-media {
    width:30px;
    height:30px;
    margin-top:9px;
  }

  .social-media:hover{
    opacity:0.8;
    transition: opacity 0.2s ease;
  }

}

