@media  (min-width: 320px) {
  .footer-container { 
    background:none;
    max-width: 100%;
    display: flex;
    justify-content:center; 
    margin:0;
    padding:10px 20px;
    margin-top:auto;
  }

  .contact-container{
    display: flex;
    justify-content:center;
    background: linear-gradient(to bottom, #B19005 40%, #E5C53F 60%, #ffce06 100%);
  }

  .social-media{
    width: 15px;
    height: 20px;
    padding: 3px;
    transition: none !important;
    transform: none !important;
  }

}

/*footer section tablet y desktop*/

@media  (min-width: 978px) {

  .footer-container {
    background-color:none;
    width: 100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin:0;
    padding:2px;

  }

  .contact-container {
    width: 150px;
    padding-top:10px;
    gap:10px;
    margin:auto;
  }

  .social-media {
    width:20px;
    height:20px;
    margin-top:9px;
  }

  .social-media:hover{
    opacity:0.8;
    transition: opacity 0.2s ease;
  }

}

