
.container-wrapper{
  display: flex;
  justify: space-beetwen;
  border-radius:7px;
  padding:10px;
  box-shadow: 
    10px 10px 10px rgba(0, 0, 0, .2),
    inset 1px 2px 5px rgba(255, 206, 6, 1),
    inset 5px 2px 2px rgba(0, 0, 0, .2);
}

.container-img{
  margin-right: 10px;
}
.text-container{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  position:relative;
  margin: auto;
}

.title{
  color:#ffce06;
  font-family:Baron Neue;
  font-size: 400;
}

.subtitle{
  color: #e1e1e1;
  font-family: Baron Neue;
  position:absolute;
  top:20px;
}

.description{
  font-size:16px;
  white-space:pre-line;
}
.buy-section{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  padding:10px;
}

.price{
  color:#ffce06;
  margin-top:5px;
}


