.card {
  display:flex;
  flex-direction:column;
  justify-content:center;
  border: 1px solid #ffce06;
  padding: 0.5rem;
  border-radius: 10px;
  width: 270px;
  box-shadow: 0 2px 4px rgba(255,255,266,1);
  background: linear-gradient(to bottom, #B19005 40%, #E5C53F 60%, #ffce06 100%);
}

.removeContainer{
  text-align: right;
  margin: 0.1rem;
}

.removebtn{
  background: none;
  border: none;
  font-size:17px;
  cursor: pointer;
  color: #000;
  padding: 0.1rem;
}

.previewPdf{
  max-height: 120px;
  overflow: hidden;
  border-radius: 7px;
  margin: 0 4px 4px 0;
  border: 2.5px solid #000;
}

/*Controles*/

.containerControlers{
  display: flex;
  padding: 1px 5px 1px 1px;
  border-radius: 7px;
}


/* Wrapper para cada campo */
.numberWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* Caja de input + botones */
.customNumber {
  display: flex;
  align-items: center;
  border-radius: 7px;
  box-shadow: inset 1px 0px 5px #000;
  overflow: hidden;

}

/* Input */
.quantityInput {
  text-align: center;
  border: none;
  font-family: Baron Neue;
  outline: none;
  -moz-appearance: textfield;
}
.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Botones + / - */
.numberBtn {
  background: #1e1e1e;
  color: #ffce06;
  border: none;
  width: 28px;
  height: 28px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}

.numberBtn:hover {
  background: #ffce;
  color: #000;
  border:2px solid #000;
}

.optionText{ 
  margin-top: 2px;
  width: 80%;
  color: #000;
  font-family: KeepCalm;
  font-size:15px;
  text-align:center;
  -webkit-text-stroke: initial;
  text-shadow: none;
}

.row{
  width: 100%;
  height:30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  display:flex;
  flex-direction: column;
  padding: 10px 20px 10px 20px;
  gap:10px;
}

.quantityInput{
  width: 2.5rem; 
  height: 28px;
  padding: 8px 0px 3px 5px; 
  border-radius: 0px;
  background: #1e1e1e;
  color: #e1e1e1;
  font-size:12px;
  font-family: KeepCalm;
}


.switchToggle {
  position: relative;
  font-family: KeepCalm;
  display: flex;
  flex-direction:column;
  align-items:start;
  justify-content:start;
}

.switchCheckbox {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switchLabel {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 28px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: inset -1px -1px 5px #000,
              inset 2px 2px 5px #000;
  background:#1e1e1e;
}

/* Before */
.switchLabel::before {
  position: absolute;
  content: 'NO';
  font-family: KeepCalm;
  color:#f0ece3;
 -webkit-text-stroke: 0.1px #f0ece3;
  text-shadow: 1px 1px 0 black;
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 4px;
  left: 3px;
  width: 40px;
  height: 20px;
  border-radius: 7px;
  background:#1e1e1e;
  box-shadow: -3px -5px 5px #1e1e1e,
              3px 5px 7px rgba(0, 0, 0, 0.5);
  transition: .4s ease-in-out;
}

/* Checked */
.switchCheckbox:checked + .switchLabel::before {
  left: 55%;
  font-size: 15px;
  content: 'SI';
  font-family: KeepCalm;
  color: #ffce06 ;
  text-shadow: 2px 2px 0 #000;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  background-color: none;
  box-shadow: 5px 0px 5px #1e1e1e,
              3px 0px 5px rgba(0, 0, 0, 1);
}

.subtotal{
  display: flex;
  align-items: baseline;
  margin-top: 0.2rem;
  padding: 0.2rem;
  background-color: #ffce;
  border-radius: 5px;
  width: fit-content;
}

.subtotalLabel{
  font-family: KeepCalm;
  color: #000;
  margin:0 3px 0 2px;
}

.subtotalCash{
  font-family: KeepCalm;
  color:#37971c;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 1.5px 1px 1px #000;
  margin: 0 20px 0 5px;
}

.totalContainer{
  border: 1px solid #000;
  
}

.totalLabel {
  color: #e1e1e1;
}

.warningBox {
  margin-top:1rem;
  padding:10px;
  background-color: #ffc;
  border-radius: 7px;
  text-align: left;
}

.warningText {
  font-size: 0.6rem;
  color: #ff0000;
  margin: 0;
}


